*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header>nav>div>h5{
    margin-left: 30px;
    width: 50px;
    align-content: center;   
    color: white;
}
header>nav>div>form>div{
    width: 40px;
    width: 60px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: rgb(47, 45, 45);
    background-image: url(assets/images/869abd703f5957318fe760bfe85b14f8.jpg);
    background-size: cover;
    background-position: center;
}
#content>section{
    margin: 10px;
}
#content>section>.card{
    margin-top:60px;
    width: calc(90vw/3);
    height: calc(100vh/2);
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
#content>section>.card:nth-child(1){
    margin-left: 0;
}
#content>section:nth-child(2)>div{
    margin: 0;
    height: fit-content;
}
#login{
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 100px;
}
#login>section>div{
    width: calc(100vw/2);
}
#login>section>div>img{
    width: calc(100vw/2);
    height: 400px;
}
#login>section>div:nth-child(2)>form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 15px;
    height: 400px;
}
#login>section>div:nth-child(2)>form>div:nth-child(2)>div{
    width: 100%;
    text-align: center;
    
}
#login>section>div:nth-child(2)>form>button{
    width: 100px;
    height: 40px;

}
#register>section>div{
    width: calc(100v);
}
#register>section>div>form>div>div{
    display: flex;
}
#register>section>div>form>div>div>div{
    width: 50%;

}
#register>section>div>form>div>div>div:nth-child(2){
    margin-left: 3px;
}
#register>section>div>form #robot{
    width: 150px;
    height: 30px;
    align-content: center;
    background-color: rgb(194, 213, 247);

}
#register>section{
    width: 100vw;
    margin-bottom: 10px;
    padding: 100px;
}
#register>section>div:nth-child(1){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    
}
#register>section>div:nth-child(2)>img{
    width: 100%;
    
}
#customerForm>section{
    margin-bottom: 10px;
    height: fit-content;
    padding: 150px;
    border-radius: 10px;

}
#customerForm>section>div>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    width: 35%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#customerForm>section>div>div:nth-child(2)>div{
    display: flex;
    align-items: center;
    justify-content:center ;
    height: calc(100%/6);
    width: 100%;
}
#customerForm>section>div>div:nth-child(1)>form>div{
    display: flex;
    justify-content: center;
    width: 100%;
}
#customerForm>section>div>div:nth-child(1)>form>div>div{
    margin: 10px;
    width: 100%;
}
#customerForm>section>div>div:nth-child(1)>form>div span{
    font-size: 10px;
    color: green;
}
#customerForm>section>div>.cusList>div>div:nth-child(2){
    width: 200px;
    
}
#customerForm>section>div>.cusList>div>div:nth-child(1){
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: gray;
    background-image: url("assets/images/869abd703f5957318fe760bfe85b14f8.jpg");
    background-position: center;
    background-size: cover;
}


#itemForm>section>div>div{
    height: fit-content+100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;

}
#itemForm>section>div:nth-child(1)>div:nth-child(1){
    width: 63.1%;

}
#itemForm>section>div form>button{
    margin-top: 10px;

}
#itemForm>section>div:nth-child(1)>div:nth-child(2){
    height: 500px;
    
}
#itemForm>section>div:nth-child(2)>div:nth-child(2)>div{
    height: calc(100vh/6);
    border: 1px solid;
}
#itemForm>section>div>.items{

}
#itemForm>section>div>.items>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
#itemForm>section>div>.items>div>div:nth-child(1){
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin-top: 10px;
    background-color: gray;
    background-image: url("/assets/images/homemade-chocolate-bars.jpg");
    background-position: center;
    background-size: cover;
}
#itemForm>section>div>.items>div>div:nth-child(2){
    margin-top: 15px;
    margin-left: 20px;   
    width: 50%;
}
#itemForm>section>div>.items>div>div:nth-child(2){
    text-align: start;
}
#placeOrder{
    margin-top: 100px;
    margin-bottom: 50px;
}
#placeOrder>section{
    display: flex;
}

#placeOrder>section>div{
    width: 600px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
    align-content: center;
    
}
#placeOrder>section>div>h3{
    margin-bottom: 20px;
    margin-left: 10px;
}
#placeOrder>section>div>form>div{
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    
}
#placeOrder>section>div>form>div>input{
    margin-left: 5px;
}
#placeOrder>section>div>form>div:nth-child(2)>input{
    margin: 5px;

}
#placeOrder>section>div>div>.img{
    width: 35.5%;
    height: 200px;
    border: 1px solid;
    margin: 20px;
    background-image: url("assets/images/homemade-chocolate-bars.jpg");
    background-position: center;
    background-size: cover;
}
#placeOrder>section>div>div>div:nth-child(2){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 200px;
    margin-top: 20px;
    width: 210px;
    border-radius: 10px;
    
    
}
#placeOrder>section>div>div>div:nth-child(2)>input{
    margin-top: 15px;
    
}
#placeOrder>section>div{
    margin: 5px;
}
#placeOrder>section>div:nth-child(2){
    
}

