*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header>nav>div>h5{
    margin-left: 30px;
    width: 50px;
    align-content: center;   
    color: white;
}
header>nav>div>form>div{
    width: 40px;
    width: 60px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: rgb(47, 45, 45);
    background-image: url(assets/images/869abd703f5957318fe760bfe85b14f8.jpg);
    background-size: cover;
    background-position: center;
}
#content>section{
    margin: 10px;
}
#content>section>.card{
    margin-top:60px;
    width: calc(90vw/3);
    height: calc(100vh/2);
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
#content>section>.card:nth-child(1){
    margin-left: 0;
}
#content>section:nth-child(2)>div{
    margin: 0;
    height: fit-content;
}
#login{
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 100px;
}
#login>section>div{
    width: calc(100vw/2);
}
#login>section>div>img{
    width: calc(100vw/2);
    height: 400px;
}
#login>section>div:nth-child(2)>form{
    border: 1px solid rgb(76, 76, 213);
    border-radius: 10px;
    padding: 5px;
    height: 400px;
}
#login>section>div:nth-child(2)>form>div:nth-child(2)>div{
    width: 100%;
    text-align: center;
    
}
#login>section>div:nth-child(2)>form>button{
    width: 100px;
    height: 40px;

}
#register>section>div{
    width: calc(100v);
}
#register>section>div>form>div>div{
    display: flex;
}
#register>section>div>form>div>div>div{
    width: 50%;

}
#register>section>div>form>div>div>div:nth-child(2){
    margin-left: 3px;
}
#register>section>div>form #robot{
    width: 150px;
    height: 30px;
    align-content: center;
    background-color: rgb(194, 213, 247);

}
#register>section{
    width: 100vw;
    margin-bottom: 10px;
    padding: 100px;
}
#register>section>div:nth-child(1){
    border: 1px solid;
    border: 1px solid rgb(76, 213, 99);
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
    
}
#register>section>div:nth-child(2)>img{
    width: 100%;
    
}


